[{:arachne/name :org.arachne-framework/application-template-1
  :arachne/inits ["config/application_template_1.clj"]
  :arachne/dependencies [:org.arachne-framework/pedestal-assets
                         :org.arachne-framework/arachne-figwheel]}]