[{:arachne/name :org.arachne-framework.template/enterprise-spa
  :arachne/inits ["config/enterprise_spa.clj"]
  :arachne/dependencies [:org.arachne-framework/pedestal-assets
                         :org.arachne-framework/arachne-figwheel]}]
